*{
    margin: 0;
    padding: 0;
}

body{
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}
.container{
   
    color: rgb(10, 0, 0);
    position: absolute;
    top: 35%;
left: 28%;

}

.container h1{
    font-size: 40px;
    margin-bottom: 40px;
    border-bottom: 10px rgb(15, 16, 71) solid;
    padding: 5px 0;
}

.box{
    width: 100%;
     border-bottom: 2px solid orangered;
     margin: 30px 0px;
   
}
.box input{
    background: none;
    width: 75%;
    margin: 13px 0px;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    outline: none;
color: rgb(19, 4, 4);
}

.box i{
     width: 25px;
     padding: 0px 12px;
text-align: center;
}

.btn{
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 15px 0px;
    padding: 4px;
    border: 2px solid;
    border-radius: 10px;
    align-items: center;
    background: none;
  
}
.btn:hover{
color: white;
background-color: rgb(15, 16, 71);

}

#logo{
    
    width: 100%;
    height: 100%;
   text-align: center;
  align-content: center;
   
   
}
#logo img{
    
   height: 300px;
   
   
    
  
    
  
}